In [1]:
import pandas as pd
from sklearn import preprocessing
import numpy as np
import pickle
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("ParisHousing.csv")
df.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0

In [5]:
df[["isNewBuilt"]].value_counts()

isNewBuilt
0             5009
1             4991
dtype: int64

In [6]:
to_keep = ["squareMeters","numberOfRooms","hasYard","hasPool","floors","isNewBuilt","price"]
basement = df[to_keep]
basement.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,isNewBuilt,price
0,75523,3,0,1,63,0,7559081.5
1,80771,39,1,1,98,1,8085989.5
2,55712,58,0,1,19,0,5574642.1
3,32316,47,0,0,6,0,3232561.2
4,70429,19,1,1,90,1,7055052.0

In [7]:
basement.isnull().sum()

squareMeters     0
numberOfRooms    0
hasYard          0
hasPool          0
floors           0
isNewBuilt       0
price            0
dtype: int64

In [10]:
basement["hasYard"].value_counts()

1    5087
0    4913
Name: hasYard, dtype: int64

In [14]:
basement.dtypes

squareMeters       int64
numberOfRooms      int64
hasYard            int64
hasPool            int64
floors             int64
isNewBuilt         int64
price            float64
dtype: object

In [11]:
X = basement.drop('price', axis=1)  # features
y = basement['price'] # labels

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

In [17]:
# #### Linear Regression

from sklearn.linear_model import LinearRegression

LRregressor = LinearRegression()
LRregressor.fit(X_train,y_train)

# Calculate the training and test score
print("LRregressor / Train score is :", LRregressor.score(X_train,y_train))
print("LRregressor / Test score is :", LRregressor.score(X_test,y_test))

LRregressor / Train score is : 0.9999995558104182
LRregressor / Test score is : 0.9999995754304516

In [19]:
pickle.dump(LRregressor, open('Paris_housing/model.pkl','wb'))